@page "/access-denied"




    <RadzenStack Orientation="Orientation.Vertical" Gap="0"  JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" Wrap="FlexWrap.NoWrap" Style="height: 400px">
        <h3>Access Denied</h3>
        <p>You do not have permission to view this page.</p>
    </RadzenStack>


@code {

}


