@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />


<div class="login-container">
    <div class="login-box">
        <div class="logo-container">
            <img src="image/system/logo.jpg" style="width:135px;" />
        </div>
        @Body
    </div>
   
</div>


@code {
    // ตัวแปรควบคุมการขยายของ Sidebar
    bool sidebarExpanded = true;

}
