@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />



<div class="login-container">
    <div class="login-box">
        @Body
    </div>
</div>

<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
    }

  /*   .login-box {
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    } */
</style>

@code {
    // ตัวแปรควบคุมการขยายของ Sidebar
    bool sidebarExpanded = true;

}
